.cache
.vs
.vscode
/example/example.vcxproj
/example/example.vcxproj.user
/example/Makefile
/target
brelease.ps1
build.ps1
build_and_run.ps1
compile_commands.json
cppcheck.bat
example.log
example.sln
Makefile
premake5.lua
.clang-format
.clang-tidy